<!-- Modal -->
<div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Persona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/member/add/{{room._id}}" method="post" id="addMemberForm">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="name" id="addMemberName" class="form-control" placeholder="Nombre" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password"  id="addMemberPassword"class="form-control" placeholder="Contraseña (opcional)">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="addMember">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

</script>