<div class="modal fade" tabindex="-1" id="distributing" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h2 id="callback" style="margin: 0 0 0 10px; display:none;">{{callback}}</h2>
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Repartiendo Papeles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h4>El creador de la sala inicio la cuenta regresiva para repartir los nombres!</h4>
                    <pre>{{error}}</pre>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <h4>Redireccionando</h4>
                    <h2 id="redirectPapers">5</h2>
                </div>
            </div>
        </div>
    </div>
</div>
