<div class="modal fade" tabindex="-1" id="viewMatchModal" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h2 id="callback" style="margin: 0 0 0 10px; display:none;">{{callback}}</h2>
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Quien me tocó</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h4 class="text-center">Rapido¡ Pasale el telefono a:</h4class="text-center text-uppercase">
                        <h2 id="nameMatch" class="text-center text-uppercase"></h2>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <h1 id="cuentaRegresiva">10</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="checkPassword" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h2 id="callback" style="margin: 0 0 0 10px; display:none;">{{callback}}</h2>
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Quien me tocó</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h4 class="text-danger d-none" id="wrongPassword">Contraseña Incorrecta</h4>
                </div>
                <div class="form-group">
                    <h4 id="nameAlert">El usuario tiene contraseña</h4>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="passwordCheckBox" class="form-control"
                        placeholder="Contraseña (opcional)" maxlength="20">
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success d-inline text-white eventMember" onclick="checkPassword()">Comprobar</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="checkMatchModal" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h2 id="callback" style="margin: 0 0 0 10px; display:none;">{{callback}}</h2>
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Quien me tocó</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h4 id="nameViewMatchMember">Felicidades te tocó:</h4>
                    <h2 id="nameViewMatch" class="text-center text-uppercase"></h2>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var stopInterval = true
    var passwordGlobal = ''
    var matchGlobal = ''
    var nameGlobal = ''
    function checkPasswordModal(name, match, password) {
        passwordGlobal = password
        matchGlobal = match
        nameGlobal = name
        if (passwordGlobal != '') {
            $('#nameAlert').text(`La persona ${name.toUpperCase()} tiene contraseña`)
            $('#checkPassword').modal('show')
        } else {
            $('#checkPassword').modal('hide')
            viewMatch(name, match)
        }
    }
    function checkPassword() {
        const password = $('#passwordCheckBox').val()
        if (passwordGlobal == password) {
            viewMatch(nameGlobal, matchGlobal)
            $('#checkPassword').modal('hide')

        } else {
            var element = document.getElementById("wrongPassword");
            element.classList.toggle("d-none");
            setTimeout(() => {
                element.classList.toggle("d-none");
            }, 2000)
        }
    }

    function viewMatch(name, match) {
        let count = 10
        $('#cuentaRegresiva').text(count)
        $('#nameMatch').text(name)
        $('#viewMatchModal').modal('show')
        stopInterval = false
        var redirect = setInterval(() => {
            count--
            $('#cuentaRegresiva').text(count)
            if (stopInterval) {
                clearInterval(redirect)
            }
            if (!count) {
                clearInterval(redirect)
                setTimeout(() => {
                    $('#viewMatchModal').modal('hide')
                    let count = parseInt($('#cuentaRegresiva').text(10))
                    checkMatchModal(name, match)
                }, 500)
            }
        }, 1000)
    }

    // When you want to clear them:

    $("#viewMatchModal").on("hidden.bs.modal", function () {
        stopInterval = true
        console.log('cerro el modal y clear interval')
    });

    function checkMatchModal(name, match) {
        $('#nameViewMatch').text(match)
        $('#nameViewMatchMember').text(`Felicidades ${name.toUpperCase()} te tocó:`)
        $('#checkMatchModal').modal('show')
    }

</script>