<div class="div">
    <div class="h2">
        {{user.id}}
    </div>
</div>
<div class="div">
    <div class="h2">
        {{user.email}}
    </div>
</div>
<div class="div">
    <img src="{{user.image}}" width="300" alt="">
</div>