
.frontApp {
    z-index: 3;
    padding: 5vw;
    padding-bottom: 0;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /* background: #FF416C; */
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #FF4B2B, #FF416C); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url('/public/images/backgound.png');
    background-size: cover;
}

a {
    color: #00B7FF;
}

.contApp {
    max-width: 720px;
}.winter-is-coming, .snow {
    z-index: 0;
    pointer-events: none;
  }
  
  .winter-is-coming {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    
  }
  
  .snow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: falling linear infinite both;
            animation: falling linear infinite both;
    -webkit-transform: translate3D(0, -100%, 0);
            transform: translate3D(0, -100%, 0);
  }
  .snow--near {
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    background-image: url("/public/images/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
    background-size: contain;
  }
  .snow--near + .snow--alt {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
  }
  .snow--mid {
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    background-image: url("/public/images/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
    background-size: contain;
  }
  .snow--mid + .snow--alt {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
  }
  .snow--far {
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    background-image: url("/public/images/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
    background-size: contain;
  }
  .snow--far + .snow--alt {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
  }
  
  @-webkit-keyframes falling {
    0% {
      -webkit-transform: translate3D(-7.5%, -100%, 0);
              transform: translate3D(-7.5%, -100%, 0);
    }
    100% {
      -webkit-transform: translate3D(7.5%, 100%, 0);
              transform: translate3D(7.5%, 100%, 0);
    }
  }
  
  @keyframes falling {
    0% {
      -webkit-transform: translate3D(-7.5%, -100%, 0);
              transform: translate3D(-7.5%, -100%, 0);
    }
    100% {
      -webkit-transform: translate3D(7.5%, 100%, 0);
              transform: translate3D(7.5%, 100%, 0);
    }
  }
  
body { background-color:#333; }
#snow{
	background: none;
	font-family: Androgyne;
	/*background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');*/
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	